body{
	background-color: black;
}
.txt{
color: white;
background-color: darkcyan;
border-radius: 5px;
text-align: center;
}
.book-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.book{
	text-align: center;
}
.book img{
	width: 50%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 5px;
}
a{
display: inline-block;
background-color: white;
width: 20%;
color: darkcyan;
text-decoration: none;
border-radius: 5px;
}
p{
	color: white;
}
h2{
	color: darkcyan;
}